---
import Button from "../../Button.astro";
---

<form class="flex flex-row w-full mb-8 space-x-6">
  <input
    class="px-4 py-2 text-sm rounded-sm w-full shadow-lg border border-gray-50"
    placeholder="Search product"
    type="text"
    name="search-product"
    id="search-product"
  />

  <Button textSize={"sm"} size={"small"} btnWidth={"third"}>
    <a href="/codemart-frontend/sell">Upload Your Product</a>
  </Button>
</form>
