---
import Button from "../components/Button.astro";
import FormInput from "../components/forms/FormInput.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="CodeMart | Forgot Password">
  <div class="flex justify-center items-center my-20">
    <div class="bg-white shadow-lg w-fit px-8 py-12 flex flex-col space-y-8">
      <div>
        <h1 class="text-xl text-center mb-4 font-semibold">
          Reset untuk Lupa Password
        </h1>
        <p>Silahkan masukan email akun anda.</p>
      </div>

      <div>
        <FormInput placeholder={"Email"} type={"email"} />
        <FormInput placeholder={"Password Baru"} type={"password"} />
      </div>
      <Button>Reset Password</Button>
    </div>
  </div>
</Layout>
