---
import Button from "../components/Button.astro";
import FormInput from "../components/forms/FormInput.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="CodeMart | Login">
    <div class="flex flex-col space-y-4 bg-red-700 px-8 py-12 w-1/3">
        <h1 class="text-center">Welcome Back</h1>
        <p class="text-center">Enter your credentials to access your account</p>
        <form action="">
            <FormInput placeholder={"Email Address"}/>
            <FormInput placeholder={"Password"}/>
            <Button size={"large"}>Log in</Button> 
        </form>
    </div>
    <form action="" class="flex flex-col space-y-4 bg-blue-700 px-8 py-12 w-1/3">
        <h1 class="text-center">Welcome Back</h1>
        <p class="text-center">Enter your credentials to access your account</p>
        <FormInput placeholder={"Email Address"}/>
        <FormInput placeholder={"Password"}/>
        <Button size={"large"}>Log in</Button> 
    </form>
    <div class="py-32 pl-32 flex flex-row justify-between items-center">
        <form action="" class="flex flex-col space-y-4 bg-green-700 px-8 py-12 w-1/3">
            <h1 class="text-center">Welcome Back</h1>
            <p class="text-center">Enter your credentials to access your account</p>
            <FormInput placeholder={"Email Address"}/>
            <FormInput placeholder={"Password"}/>
            <Button size={"large"}>Log in</Button> 
        </form>
    </div>
</Layout>