---
import Button from "../components/Button.astro";
import FormInput from "../components/forms/FormInput.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="CodeMart | Login">
  <div
    class="bg-recandy-white-100 py-32 flex flex-row justify-center items-center"
  >
    <form
      action=""
      class="shadow-lg flex flex-col space-y-4 bg-recandy-white-0 px-8 py-12 w-1/3"
    >
      <h1 class="text-center font-bold text-2xl">Welcome Back</h1>
      <p class="text-center tracking-wide">
        Enter your credentials to access your account
      </p>
      <br />
      <FormInput placeholder={"Email Address"} />
      <FormInput type={"password"} placeholder={"Password"} />
      <Button size={"large"}>Log in</Button>
      <br />
      <div class="text-center">
        Don't have account yet? <a
          href="/codemart-frontend/register"
          class="text-recandy-blue-600">Sign Up</a>
      </div>
      <a
        href="/codemart-frontend/register"
        class="text-center text-recandy-blue-600">Forgot your Password?</a
      >
    </form>
  </div>
</Layout>
