---
import Layout from "../layouts/Layout.astro";
import FormInput from "../components/forms/FormInput.astro";
import Button from "../components/Button.astro";
---

<Layout title="CodeMart | Register">
    <div class="bg-recandy-white-100 py-32 flex flex-row justify-center items-center">
        <form action="" class="shadow-lg flex flex-col space-y-4 bg-recandy-white-0 px-8 py-12 w-1/3">
            <h1 class="text-center font-bold text-2xl">Explore your Need</h1>
            <p class="text-center tracking-wide">Enter your credentials with your email</p>
            <br>
            <FormInput placeholder={"Full Name"}/>
            <FormInput type={'email'} placeholder={"Email Address"}/>
            <FormInput type={'password'} placeholder={"Password"}/>
            <Button size={"medium"}>Register</Button>
            <p class="text-center">Already have account? <a href='/codemart-frontend/login' class="text-center text-recandy-blue-500" >Login</a></p>
        </form>
    </div>
</Layout>