---
import Layout from "../layouts/Layout.astro";

---

<Layout title="CodeMart | Register">
    <div class="">
        <form action="" class="bg-slate-600">
            <h1 class="text-center font-bold">Explore your Need</h1>
            <p class="text-center">Enter your credentials with your email</p>
            <div>
                <input class="box-border hover:box-content py-2 px-2" type="text" placeholder="Full Name">
            </div>
            <div>
                <input class="box-border hover:box-content py-2 px-2" type="email" placeholder="Email address">
            </div>
            <div>
                <input class="box-border hover:box-content py-2 px-2" type="password" placeholder="Password">
            </div>
            <button class="" type="submit">Sign Up</button>
            <p class="text-center">Already have account?</p><a href="/login" class="text-center">Login</a>
        </form>
    </div>
</Layout>