---
import Button from "../components/Button.astro";
import FormInput from "../components/forms/FormInput.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="CodeMart | Sell">
    <div class="px-4 py-5 sm:p-6">
        <div class="grid grid-cols-6 gap-6">
            <div class="col-span-6 sm:col-span-3">
                <p>Add Tittle*</p>
                <FormInput type={'text'} placeholder={"Add Tittle"}/>
            </div>
            <div class="col-span-6 sm:col-span-3">
                <p>Categories</p>
                <FormInput type={'text'} placeholder={"Search Categorie..."}/>
            </div>
        </div>

        <br>
        <br>

        <div>
            <div class="border-2 border-dashed pt-32 bah bg-recandy-gray-50 border-black">
                <div class="text-center">
                    <p>Drag and Drop</p>
                    <p>Your File Hire</p>
                </div>
            </div>
            <br>
            <input type="file">
        </div>

        <br>
        <br>

        <div>
            <p>Add Description*</p>
            <textarea name="upload" id="" cols="30" rows="10" class="border border-recanndy-gray-50"></textarea>
        </div>

        <br>

        <div>
            <Button size={"medium"}>Upload</Button>
        </div>
    </div>
</Layout>