---
import FormInput from "../components/forms/FormInput.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="CodeMart | Sell">
    <div>
        <tr>
            <!--<p>Add Tittle*</p>-->
            <FormInput type={'text'} placeholder={"Add Tittle"}/>
        </tr>
        <tr>
            <!--<p>Categories</p>-->
            <FormInput type={'text'} placeholder={"Search Categorie..."}/>
            <button 
        </tr>
    </div>
</Layout>