---
type ButtonType = 'primary' | 'outline' | 'text';

export interface Props {
  type?: ButtonType;
  size?: 'normal' | 'medium' | 'large';
  textSize?: 'sm' | 'base' | 'md' | 'lg';
}

const { type = 'primary', size = 'normal', textSize = 'base' } = Astro.props as Props;
---

<button class={`btn btn-${type} btn-size-${size} text-${textSize}`}>
  <slot/>
</button>

<style>
  @tailwind components;

  @layer components {
		.btn {
			@apply rounded-md px-8 py-2 font-medium
		}

    

    .btn-size-large {
      @apply !py-3
    }

    .btn-size-medium {
      @apply !py-2.5
    }

		.btn-primary {
			@apply bg-recandy-blue-600 text-recandy-white-0 hover:bg-recandy-blue-700
		}

    .btn-outline {
      @apply border border-recandy-blue-600 text-recandy-blue-600 hover:bg-recandy-blue-600 hover:text-recandy-white-0
    }

    .btn-text {
      @apply text-recandy-blue-600 hover:bg-recandy-blue-600 hover:text-recandy-white-0
    }
	}
</style>