---

---

<footer class="bg-recandy-blue-300 py-8 px-32 text-recandy-white-0">

  <div class="flex flex-row justify-between mt-12 mb-24 pr-24">
    <div class="flex flex-row items-center space-x-48">
      <div class="flex flex-col space-y-2">
        <h4 class="text-lg font-semibold">CodeMart</h4>
        <a href="#">Browse</a>
        <a href="#">Post Product</a>
        <a href="#">Contact Us</a>
      </div>
  
      <div class="flex flex-col space-y-2">
        <h4 class="text-lg font-semibold">Follow Us</h4>
        <a href="#">Twitter</a>
        <a href="#">Instagram</a>
        <a href="#">Facebook</a>
      </div>
    </div>

    <div class="flex flex-col space-y-2">
      <h4 class="text-lg font-semibold">Email</h4>
      <a href="mailto:support@codemart.com">support@codemart.com</a>
    </div>
  </div>
  

  <div class="text-center font-light text-sm">
    <p>Copyright © 2022 Rehoukrel Studio and Blue Recandy.</p>
    <p>Illustration by Undraw.co</p>
  </div>
</footer>