---

---

<nav class="flex flex-row justify-between">
  <div class="flex flex-row justify-center items-center">
    <a href="#">
      <img src="/assets/logo-colored.svg" alt="CodeMart">
    </a>

    <div class="flex flex-row justify-between">
      <a href="#">Home</a>
      <a href="#">Sell Product</a>
      <a href="#">Browse</a>
    </div>
  </div>
  <div class="flex flex-row justify-between items-center">
    <a href="#">Login</a>
    <a href="#">Register</a>
  </div>
</nav>

<style>

</style>